body {
    font-family: "Montserrat";
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

#title {
    color: #ffffff;
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation Bar  */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image  */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */

#features {
    padding: 7% 12%;
    background-color: #ffffff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

.feature-image {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-image:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press  */

#press {
    background-color: #ef8172;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 13%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-coloumn {
    padding: 3% 2%;
}

/* Call to action */

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
}

.cta_header {
    color: #ffffff;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer */

#footer {
    background-color: #ffffff;
    text-align: center;
    padding: 7% 15%;
}

.footer_button {
    padding: 20px 10px;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
